# The ACCOUNT_SID starts with "AC". Get your ACCOUNT_SID and AUTH_TOKEN from here: https://console.twilio.com/?frameUrl=%2Fconsole%3Fx-target-region%3Dus1
ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# OpenAI API key, get it from here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX